#polls_per_month
  :javascript
    var selector = "#polls_per_month";
    var data = #{@poll.serialize_for_graph};
    Graph.instances.push(new Graph(selector, data, "column"));

#answers_per_question
  -@poll.questions.each do |question|
    -if question.kind == "choice"
      .col-md-6{id: "answer_per_question_#{question.id}" }
      :javascript
        var selector = "#answer_per_question_#{question.id}";
        var data = #{question.serialize_for_graph};
        Graph.instances.push(new Graph(selector, data, "pie"));

-content_for :footer do
  :javascript
    google.load('visualization', '1.0', {'packages':['corechart']});
    google.setOnLoadCallback(function () {
      Graph.instances.forEach(function(instance) {
        instance.render();
      });
    });
