%h1 Listing polls

%ul
  -@polls.each do |poll|
    %li
      %p
        -if admin?
          =link_to poll.title, poll
        -else
          =poll.title

      %p.btn-group.btn-group-xs
        = link_to 'Edit', edit_poll_path(poll), class: "btn btn-default" if admin?
        = link_to 'Add question', new_poll_question_path(poll), class: "btn btn-default" if admin?
        = link_to 'Answer', new_poll_reply_path(poll), class: "btn btn-default"

-if admin?
  %p= link_to 'New Poll', new_poll_path, class: "btn btn-primary"
